<!-- prettier-ignore -->
{{#> base_template}}
  {{#*inline "content"}}

        <h1>{{title}}</h1>
        <p class="greeting"><strong>Hi {{userName}},</strong></p>
        <p>Congratulations! Your account with Boilerplate is now active and ready to use.</p>
        <p>We're thrilled to have you as part of our community and look forward to helping you make the most out of your experience with us.</p>
        <p>You can now log in and start exploring all the features and benefits we have to offer. </p>
        <p>Thank you for joining Boilerplate!</p>
  {{/inline}}
{{/base_template}}
  
       