<!-- prettier-ignore -->
{{#> base_template}}
  {{#*inline "content"}}

        <h1>{{title}}</h1>
        <p class="greeting"><strong>Hi {{userName}},</strong></p>
        <p>We have sent you a new activation link for your Boilerplate account. Please click the button below to activate your account:</p>
        <div class='button-container'>
          <a href='{{activationLinkUrl}}'>Activate Your Account </a>
        </div>

{{/inline}}
{{/base_template}}
