<!-- prettier-ignore -->
{{#> base_template}}
  {{#*inline "content"}}

        <h1>{{title}}</h1>
        <p class="greeting"><strong>Hi {{userName}},</strong></p>
        <p>You recently requested to reset your password. If you did not make this request, you can ignore this email.</p>
        <p>To reset your password, please click the button below.</p>
        <div class='button-container'>
          <a href='{{resetUrl}}'>Reset Password</a>
        </div>
{{/inline}}
{{/base_template}}
       