<!-- prettier-ignore -->
{{#> base_template}}
  {{#*inline "content"}}    

        <h1>{{title}}</h1>
        <p class="greeting"><strong>Hi {{userName}},</strong></p>

        <p>The password for your Boilerplate account has been successfully changed. You can now continue to access your account as usual.</p>

        <p>If this wasn't done by you, please immediately reset the password to your Boilerplate account by following the steps below:</p>

        <ol>
            <li>Recover your account here: {{accountRecoverUrl}}</li>
            <li>Review your phone numbers and email addresses and remove the ones that don’t belong to you once you gain access to your account.</li>
        </ol>
{{/inline}}
{{/base_template}}
  