body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    color: #333;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    max-width: 150px;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.button-container {
    margin: 20px 0;
}

.button-container a {
    background-color: #F97316;
    color: #fff;
    text-decoration:
        none;
    padding: 8px 40px;
    border-radius: 5px;
    font-size: 16px;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #999;
}

.social-icons img {
    margin: 0 5px;
    width: 24px;
    height: 24px;
}

.unsubscribe {
    margin-top: 20px;
}